<div class="row landing">
    <div class="col-md-6">
        <form method="GET" action="/artist-search">
            <label>Spotify</label>
            <input type="text" name="artistName" placeholder="Search"/>
            <div>
            <button type="submit">Search for an Artist</button>
            </div>
        </form>
    </div>
</div>